<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>alpha</key>
		<string>ا‎</string>
		<key>read</key>
		<string>/aː/</string>
		<key>name</key>
		<string>ʾalif</string>
		<key>tail</key>
		<string>ﺎ‎</string>
		<key>middle</key>
		<string>ﺎ‎</string>
		<key>head</key>
		<string>ا‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺏ‎</string>
		<key>read</key>
		<string>[b]</string>
		<key>name</key>
		<string>bāʾ</string>
		<key>tail</key>
		<string>ـب‎</string>
		<key>middle</key>
		<string>ـبـ‎</string>
		<key>head</key>
		<string>بـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺕ‎</string>
		<key>name</key>
		<string>tāʾ</string>
		<key>read</key>
		<string>[t]</string>
		<key>tail</key>
		<string>ـت‎</string>
		<key>middle</key>
		<string>ـتـ‎</string>
		<key>head</key>
		<string>تـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺙ‎</string>
		<key>name</key>
		<string>ṯāʾ</string>
		<key>read</key>
		<string>[θ]</string>
		<key>tail</key>
		<string>ـث‎</string>
		<key>middle</key>
		<string>ـثـ‎</string>
		<key>head</key>
		<string>ثـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺝ‎</string>
		<key>name</key>
		<string>ǧīm</string>
		<key>read</key>
		<string>[dʒ]</string>
		<key>tail</key>
		<string>ـج‎</string>
		<key>middle</key>
		<string>ـجـ‎</string>
		<key>head</key>
		<string>جـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺡ‎</string>
		<key>name</key>
		<string>ḥāʾ</string>
		<key>read</key>
		<string>[ħ]</string>
		<key>tail</key>
		<string>ـح‎</string>
		<key>middle</key>
		<string>ـحـ‎</string>
		<key>head</key>
		<string>حـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺥ‎</string>
		<key>name</key>
		<string>ḫāʾ</string>
		<key>read</key>
		<string>[kh]</string>
		<key>tail</key>
		<string>ـخ‎</string>
		<key>middle</key>
		<string>ـخـ‎</string>
		<key>head</key>
		<string>خـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺩ‎</string>
		<key>name</key>
		<string>dāl</string>
		<key>read</key>
		<string>[d]</string>
		<key>tail</key>
		<string>ـد‎</string>
		<key>middle</key>
		<string>ـد‎</string>
		<key>head</key>
		<string>د‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺫ‎</string>
		<key>name</key>
		<string>ḏāl</string>
		<key>read</key>
		<string>[ð]</string>
		<key>tail</key>
		<string>ـذ‎</string>
		<key>middle</key>
		<string>ـذ‎</string>
		<key>head</key>
		<string>ذ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺭ‎</string>
		<key>name</key>
		<string>rāʾ</string>
		<key>read</key>
		<string>[r]</string>
		<key>tail</key>
		<string>ـر‎</string>
		<key>middle</key>
		<string>ـر‎</string>
		<key>head</key>
		<string>ر‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺯ‎</string>
		<key>name</key>
		<string>zāy</string>
		<key>read</key>
		<string>[z]</string>
		<key>tail</key>
		<string>ـز‎</string>
		<key>middle</key>
		<string>ـز‎</string>
		<key>head</key>
		<string>ز‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺱ‎</string>
		<key>name</key>
		<string>sīn</string>
		<key>read</key>
		<string>[s]</string>
		<key>tail</key>
		<string>ـس‎</string>
		<key>middle</key>
		<string>ـسـ‎</string>
		<key>head</key>
		<string>سـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺵ‎</string>
		<key>name</key>
		<string>šīn</string>
		<key>read</key>
		<string>[ʃ]</string>
		<key>tail</key>
		<string>ـش‎</string>
		<key>middle</key>
		<string>ـشـ‎</string>
		<key>head</key>
		<string>شـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺹ‎</string>
		<key>name</key>
		<string>ṣād</string>
		<key>read</key>
		<string>[su]</string>
		<key>tail</key>
		<string>ـص‎</string>
		<key>middle</key>
		<string>ـصـ‎</string>
		<key>head</key>
		<string>صـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﺽ‎</string>
		<key>name</key>
		<string>ḍād</string>
		<key>read</key>
		<string>[du]</string>
		<key>tail</key>
		<string>ـض‎</string>
		<key>middle</key>
		<string>ـضـ‎</string>
		<key>head</key>
		<string>ضـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻁ‎</string>
		<key>name</key>
		<string>ṭāʾ</string>
		<key>read</key>
		<string>[tu]</string>
		<key>tail</key>
		<string>ـط‎</string>
		<key>middle</key>
		<string>ـطـ‎</string>
		<key>head</key>
		<string>طـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻅ‎</string>
		<key>name</key>
		<string>ẓāʾ</string>
		<key>read</key>
		<string>[zu]</string>
		<key>tail</key>
		<string>ـظ‎</string>
		<key>middle</key>
		<string>ـظـ‎</string>
		<key>head</key>
		<string>ظـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻉ‎</string>
		<key>name</key>
		<string>ʿayn</string>
		<key>read</key>
		<string></string>
		<key>tail</key>
		<string>ـع‎</string>
		<key>middle</key>
		<string>ـعـ‎</string>
		<key>head</key>
		<string>عـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻍ‎</string>
		<key>name</key>
		<string>ġayn</string>
		<key>read</key>
		<string>[gh]</string>
		<key>tail</key>
		<string>ـغ‎</string>
		<key>middle</key>
		<string>ـغـ‎</string>
		<key>head</key>
		<string>غـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ف‎</string>
		<key>name</key>
		<string>fāʾ</string>
		<key>read</key>
		<string>[f]</string>
		<key>tail</key>
		<string>ـف‎</string>
		<key>middle</key>
		<string>ـفـ‎</string>
		<key>head</key>
		<string>فـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻕ‎</string>
		<key>name</key>
		<string>qāf</string>
		<key>read</key>
		<string>[g]</string>
		<key>tail</key>
		<string>ـق‎</string>
		<key>middle</key>
		<string>ـقـ‎</string>
		<key>head</key>
		<string>قـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻙ‎</string>
		<key>name</key>
		<string>kāf</string>
		<key>read</key>
		<string>[k]</string>
		<key>tail</key>
		<string>ـك‎</string>
		<key>middle</key>
		<string>ـكـ‎</string>
		<key>head</key>
		<string>كـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻝ‎</string>
		<key>name</key>
		<string>lām</string>
		<key>read</key>
		<string>[L]</string>
		<key>tail</key>
		<string>ـل‎</string>
		<key>middle</key>
		<string>ـلـ‎</string>
		<key>head</key>
		<string>لـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻡ‎</string>
		<key>name</key>
		<string>mīm</string>
		<key>read</key>
		<string>[m]</string>
		<key>tail</key>
		<string>ـم‎</string>
		<key>middle</key>
		<string>ـمـ‎</string>
		<key>head</key>
		<string>مـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ن‎</string>
		<key>name</key>
		<string>nūn</string>
		<key>read</key>
		<string>[n]</string>
		<key>tail</key>
		<string>ـن‎</string>
		<key>middle</key>
		<string>ـنـ‎</string>
		<key>head</key>
		<string>نـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻩ‎</string>
		<key>name</key>
		<string>hāʾ</string>
		<key>read</key>
		<string>[h]</string>
		<key>tail</key>
		<string>ـه‎</string>
		<key>middle</key>
		<string>ـهـ‎</string>
		<key>head</key>
		<string>هـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻭ‎</string>
		<key>name</key>
		<string>wāw</string>
		<key>read</key>
		<string>[u]</string>
		<key>tail</key>
		<string>ـو‎</string>
		<key>middle</key>
		<string>ـو‎</string>
		<key>head</key>
		<string>و‎</string>
		<key>remark</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ﻱ‎</string>
		<key>name</key>
		<string>yāʾ</string>
		<key>read</key>
		<string>[i]</string>
		<key>tail</key>
		<string>ـي‎</string>
		<key>middle</key>
		<string>ـيـ‎</string>
		<key>head</key>
		<string>يـ‎</string>
		<key>remark</key>
		<string></string>
	</dict>
</array>
</plist>
